@model WebApi.Models.UsersModels.UserRoleModels.UserRoleModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           
            <span>IdRolUsuario</span>
        </dt>
        <dd class = "col-sm-10">
           
            <span>@Model.IdRolUsuario</span>
        </dd>
        <dt class="col-sm-2">

            <span>Nombre</span>
        </dt>
        <dd class="col-sm-10">

            <span>@Model.RolNombre</span>
        </dd>
        <dt class = "col-sm-2">
          
            <span>Descripcion</span>
        </dt>
        <dd class = "col-sm-10">
           
            <span>@Model.Descripcion</span>
        </dd>
        
        <dt class = "col-sm-2">
          
            <span>ChangeTime</span>
        </dt>
        <dd class = "col-sm-10">
           

            <span>@Model.ChangeTime</span>
        </dd>
        <dt class = "col-sm-2">
           
			<span>UserID</span>
        </dt>
        <dd class = "col-sm-10">
           
            <span>@Model.UserID</span>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdRolUsuario }) |
    <a asp-action="Index">Back to List</a>
</div>