@model IEnumerable<WebApi.Models.UsersModels.UserRoleModel>

@{
    ViewData["Title"] = "Roles";
}

<h1 class="text-center">Roles</h1>

<div class="text-center mb-3">
    <form asp-action="Filter" method="get">
        <div class="d-inline-block w-50">
            <label for="filterType">Filtrar por:</label>
            <select name="filterType" class="form-select">
                <option value="1">ID</option>
                <option value="2">Descripcion</option>
                <option value="3">Nombre</option>
                <option value="4">UsuariosPorRol</option>
            </select>
        </div>
        <input type="text" name="filterValue" placeholder="Ingrese el filtro" class="form-control d-inline-block w-50" />
        <button type="submit" class="btn btn-secondary">Filtrar</button>
    </form>
</div>
<p>
    <a asp-action="Create">Crear Rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRolUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ChangeTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRolUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangeTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdRolUsuario }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdRolUsuario }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdRolUsuario }) |
                </td>
            </tr>
        }
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </tbody>
</table>
