@model IEnumerable<HRMS.WebApi.Models.Reservation_2023_0731.ReservationDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th><span>ReservationId</span></th>
            <th><span>State</span></th>
            <th><span>EntryDate</span></th>
            <th><span>DepartureDate</span></th>
            <th><span>DepartureConfirmationDate</span></th>
            <th><span>InitialPrice</span></th>
            <th><span>Advance</span></th>
            <th><span>RemainingPrice</span></th>
            <th><span>TotalPaid</span></th>
            <th><span>PenaltyCost</span></th>
            <th><span>Observation</span></th>
            <th><span>ClientId</span></th>
            <th><span>RoomId</span></th>
            <th><span>ChangeTime</span></th>
            <th><span>UserID</span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureConfirmationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.ReservationId }) |
                @Html.ActionLink("Details", "Details", new { item.ReservationId })

            </td>
        </tr>
}
    </tbody>
</table>
