@model IEnumerable<WebApi.Models.UsersModels.UserModel>

@{
    ViewData["Title"] = "Usuarios";
}

<h1 class="text-center">Usuarios</h1>

<div class="text-center mb-3">
    <form asp-action="Filter" method="get">
        <div class="d-inline-block w-50">
            <label for="filterType">Filtrar por:</label>
            <select name="filterType" class="form-select">
                <option value="1">ID</option>
                <option value="2">Nombre</option>
                <option value="3">Correo</option>
                <option value="4">TipoDocumento</option>
                <option value="5">Documento</option>
            </select>
        </div>
        <input type="text" name="filterValue" placeholder="Ingrese el filtro" class="form-control d-inline-block w-50" />
        <button type="submit" class="btn btn-secondary">Filtrar</button>
    </form>
</div>
<p>
    <a asp-action="Create">Create Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRolUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangeTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdUsuario }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdUsuario }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdUsuario }) |
                </td>
            </tr>
        }
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </tbody>
</table>
