@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<HRMS.Application.DTOs.UsersDTOs.UserRoleDTOs.UserRoleViewDTO>

@{
	ViewData["Title"] = "Index";
}

<h1>Roles</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>

				<span>ID</span>
			</th>
			<th>
				
				<span>Descripcion</span>
			</th>
			<th>
				
				<span>Nombre</span>
			</th>
			<th>
				
				<span>ChangeTime</span>
			</th>
			<th>
				
				<span>UserID</span>
			</th>
			
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.IdUserRole)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descripcion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ChangeTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserID)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.IdUserRole }) |
					@Html.ActionLink("Details", "Details", new { id = item.IdUserRole }) |

				</td>
			</tr>
		}
	</tbody>
</table>
